@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600&family=IBM+Plex+Sans:wght@300;400;500;600&display=swap");
body, h1, h2, h3, p, div, span, img, ul {
  margin: 0px;
  padding: 0px; }

body {
  /*Primer breakpoint*/ }
  body header {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    height: 44px;
    /*Codigo para la x close*/
    /*Fragmento gerador de la x close*/ }
    body header .container-logo {
      width: 24px;
      height: 24px;
      margin: 10px 280px 10px 16px;
      position: absolute; }
      body header .container-logo img {
        display: block;
        width: 100%;
        height: auto; }
    @media screen and (min-width: 900px) {
      body header .container-logo {
        width: 36px;
        height: 36px;
        margin: 22px auto 22px 60px; } }
    @media screen and (min-width: 900px) {
      body header .container-logo {
        margin: 22px auto 22px 100px; } }
    body header label {
      width: 18px;
      height: 12px;
      margin: 16px 19px 16px 283px; }
      body header label .shape {
        display: grid;
        grid-template-columns: 18px;
        grid-template-rows: repeat(3, 2px);
        grid-row-gap: 3px; }
        body header label .shape span {
          background-color: #000000; }
    @media screen and (max-width: 900px) {
      body header label {
        margin: 16px 19px 16px auto; } }
    body header .shape:before {
      display: block;
      width: 14px;
      height: 2px;
      content: "";
      position: absolute;
      background: #000000;
      transform: rotate(45deg); }
    body header .shape:after {
      width: 14px;
      height: 2px;
      content: "";
      position: absolute;
      background: #000000;
      transform: rotate(-45deg); }
    body header #navbar:not(:checked) ~ label .shape:before, body header #navbar:not(:checked) ~ label .shape:after {
      display: none; }
    body header input[type="checkbox"] {
      display: none; }
    body header input[type="checkbox"]:checked ~ label #menu-link {
      display: block; }
    body header nav ul {
      display: none; }
    body header #navbar:checked + label + nav ul {
      display: block; }
    body header nav {
      background-color: #0000EC;
      width: 100%; }
      body header nav ul {
        margin: 16px auto 24px 16px; }
        body header nav ul li {
          list-style: none;
          width: auto;
          height: 28px;
          margin: 0px 0px 24px 0px; }
          body header nav ul li a {
            color: #ffffff;
            text-decoration: none;
            line-height: 28px;
            font-family: "IBM Plex Mono", sans-serif;
            font-weight: 300px; }
          @media screen and (min-width: 900px) {
            body header nav ul li a {
              color: #000000; } }
          body header nav ul li a:hover {
            color: #00F3BB;
            text-decoration: line-through; }
          body header nav ul li a:active {
            color: #060A24;
            text-decoration: line-through; }
        @media screen and (min-width: 900px) {
          body header nav ul li {
            display: inline-block;
            margin: 26px 0px 26px 48px; } }
      @media screen and (min-width: 900px) {
        body header nav ul {
          display: block;
          margin: 0px 60px 0px auto;
          float: right; } }
      @media screen and (min-width: 1440px) {
        body header nav ul {
          margin: 0px 100px 0px auto; } }
    @media screen and (min-width: 900px) {
      body header nav {
        background-color: #ffffff; } }
    body header #navbar:checked ~ label span {
      background: transparent; }
  @media screen and (max-width: 900px) {
    body header {
      max-width: 900px; } }
  @media screen and (min-width: 900px) {
    body header {
      max-width: 100%;
      height: 80px; }
    body label {
      display: none; } }
